@import "../../styles.scss";

.e2e-bluestrip-container {
	background: $primary-color;
	text-align: end;
  padding: $padding-xs;
}
.e2e-bluestrip-container span {
	color: $white-color;
	padding: $padding-xs;
	font-size: 87.5%;
}
